body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kiwi Maru', serif;
}

.title {
  text-align: center;
  margin-bottom: 3rem;
}

.syntax {
  width: 55rem;
  margin: auto;
}

.syntax .code {
  background: #333333;
  color: #E3E3E3;
  padding: 10px 0;
  line-height: 2;
  border-radius: 10px;
  font-family: 'JetBrains Mono', monospace;
}

.code:nth-last-child(1) {
  margin-bottom: 3rem;
}

.syntax .code p {
  padding-left: 2rem;
}

.comments {
  color: #8C8C8C;
}

.strings {
  color: #2083E1;
}

.numbers {
  color: #EE9137;
}

.booleans {
  color: #6E79BC;
}

.operator {
  color: #FC3838;
}

.keyword {
  color: #29C7E4;
}

.object-identifier {
  color: #BE79F2;
}

.types {
    color: #51F065;
}

.code-block {
    margin-left: 2em;
}
